<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pwd Reminder</title>
    <style>
      *{ 
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: #172b4d;
      }
      html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
      }
    </style>
  </head>
  <body>
    <p>シカTalk」をご利用いただき、誠にありがとうございます。</p>
    <br />
    <p>お客様のアカウントの、パスワード再設定の申請がされました。</p>
    <p>
      ご本人様が申請された場合には、下記の手順に従って、パスワードの再設定操作をお願いいたします。
    </p>
    <br />
    <p>
      もし、ご自身でパスワード再設定の申請をされたお心当たりがない時は、このメールは無視して何もしないでください。
    </p>
    <p>
      何も操作されなければ、パスワードは現在設定されているもののままで、変更はされません。
    </p>
    <br />
    <p>──────────────────────────────</p>
    <p>■パスワードの再設定の操作手順</p>
    <p>──────────────────────────────</p>
    <br />
    <p>(1)下記のURLをクリックして、再設定画面にアクセスしてください。</p>
    <br />
    <p>再設定用リンク</p>
    <a href={{urlChangePwd}}>{{urlChangePwd}}</a >
    <br />
    <br />
    <p>(2)画面にて、新しいパスワードを設定してください。</p>
    <br />
    <p>(3)新しく設定したパスワードを使用して、シカTalkにログインしてください。</p>
    <br />
    <p>【ご注意】</p>
    <p>上記操作は、このメールが送信されてから「3時間以内」に行ってください。</p>
    <p>3時間以上経過すると、再設定用のリンクが無効になります。</p>
    <br />
    <p>──────────────────────────────</p>
    <p>シカTalk運営担当</p>
    <p>WEBサイト：<a href={{urlService}}>{{urlService}}</a></p>
    <p>お問い合わせ：<a href={{urlInquiry}}>{{urlInquiry}}</a></p>
    <p>──────────────────────────────</p>
    <p>※このメールはシステムにより自動送信しております。</p>
    <p>ご返信いただいてもご対応はできませんのでご了承ください。</p>
  </body>
</html>
