<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
      *{ 
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #172b4d;
      }
      html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
      }
    </style>
</head>
<body>
    <p>「シカTalk」に新規登録いただき、誠にありがとうございます。</p>
    <br/>
    <p>お客様のメールアドレス確認のため、下記のリンクをクリックして、登録手続きにお進みください。</p>
    <br>
    <a href={{urlRegistration}}>{{urlRegistration}}</a>
    <br/>
    <br/>
    <p>もし、ご自身で新規登録の申請をされたお心当たりがない時は、このメールは無視して何もしないでください。
      何も操作されなければ、利用登録はされません。</p>
    <br/>
    <p>──────────────────────────────</p>
    <p>シカTalk運営担当</p>
    <p>WEBサイト：<a href={{urlService}}>{{urlService}}</a></p>
    <p>お問い合わせ：<a href={{urlInquiry}}>{{urlInquiry}}</a></p>
    <p>──────────────────────────────</p>
    <p>※このメールはシステムにより自動送信しております。</p>
    <p>ご返信いただいてもご対応はできませんのでご了承ください。</p>
</body>
</html>